@import '../../styles/base/settings.scss';

.page {
    width: 100%;
    min-height: 100vh;
    background: $black;
    text-align: center;
}

.img__container {
    width: 100%;
    min-height: 600px;
    background-size: cover;
    background-position: center center; /* First value is from left and second is from top. You can use use number as well*/
    background-repeat:no-repeat;
}

.page__filter {
    background: rgba(0, 0, 0, 0.60);
    text-align: center;
    margin: auto;
    align-items: center;
    min-height: 600px;

    h2 {
        font-family: 'Siracha-Regular';
        font-style: normal;
        font-weight: 400;
        font-size: 82px;
        letter-spacing: 0.07em;
        color: $primary;

        @media screen and (max-width: 850px) {
            font-size: 44px;
        
          }
    }

}

.recipe__container {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    border: 2px solid $primary;
    background-color: #151515;
    min-height: 1200px;
    width: 95%;
    margin: auto;
    margin-top: -5%;

    p {
        font-family: 'Siracha-Regular';
        font-style: normal;
        font-size: 20px;
        color: $primary;
        max-width: 80%;

        @media screen and (max-width: 850px) {  
            max-width: 100%;      
        }
    }

    img {
        border-radius: 50%;
        margin-top: -10%;
        border: 1.5px solid $primary;

        @media screen and (max-width: 850px) {
            height: 15em !important;
        
        }
    }

}

.status__row {
    display: flex;
    flex-direction: row;
    align-items: center;
    
    img {
        height: 6em !important;
        border: none;
        margin: 1em;

    @media screen and (max-width: 850px) {
        height: 3em !important;
    
    }
    }

    div {
        width: 3rem;
        height: 0.25rem;
        border-radius: 10px;
        background-color: $primary;
    }
}

.center__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recipe {
    display: flex;
    flex-direction: column;


}