@import '../../styles/base/settings.scss';

.page {
    width: 100%;
    min-height: 100vh;
    background: $primary;
    text-align: center;
}

.split {
    display: flex;
    flex-direction: row;
    text-align: left;
    align-items: center;
    width: 75%;
    margin: auto;
    margin-bottom: 2em;

    @media screen and (min-width: 850px) and (max-width: 1250px) {
        width: 85%
    }

    @media screen and (max-width: 850px) {
        display: inline-block;
        max-width: 90%;

    }
}

.img__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    img {
        position: fixed;
        top: 10em;
        bottom: 0em;
        right: 1em;
        height: 40em;
        width: 40em;
        align-items: center;
        z-index: 5;


    @media screen and (min-width: 1200px) and (max-width: 1400px) {
        height: 35em;
        width: 35em;
        top: 10em;
        right: 1em;
    }

    @media screen and (min-width: 850px) and (max-width: 1200px) {
        height: 35em;
        width: 35em;
        top: 10em;
        right: -10%;
    }

    @media screen and (max-width: 850px) {
        position: static;
        height: 20em;
        width: 20em;
      }
    }
}

.img__container__two {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2em;

    img {
        height: 35em;
        width: 35em;


    @media screen and (max-width: 850px) {
        height: 20em;
        width: 20em;    }
    }
}

