@import '../../styles/base/settings.scss';

.page {
    width: 100%;
    min-height: 100vh;
    background: $primary;
    text-align: center;
}

.split {
    display: flex;
    flex-direction: row;
    text-align: left;
    align-items: center;
    width: 50%;
    margin-left: 15%;

    @media screen and (min-width: 1200px) and (max-width: 1400px) {
        width: 85%;
        margin-left: 5%;
    }

    @media screen and (min-width: 850px) and (max-width: 1200px) {
        width: 85%;
        margin-left: 5%;
    }

    @media screen and (max-width: 850px) {
        display: inline-block;
        width: 90%;
        margin: auto;

    }
}

.img__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    img {
        position: fixed;
        bottom: -20%;
        right: -6%;
        width: 50%;
        max-width: 100%;
        height: auto;
        z-index: 5;

    @media screen and (min-width: 850px) and (max-width: 1400px) {
        bottom: -5%;

    }


    @media screen and (max-width: 850px) {
        position: static;
        height: 20em;
        width: 20em;
      }
    }
}

.img__container__two {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2em;

    img {
        width: 35em;


    @media screen and (max-width: 850px) {
        width: 20em;
       }
    }
}

