@import '../../styles/base/settings.scss';

.soldOutContainer {

    p {
        font-family: 'Siracha-Regular';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        letter-spacing: 0.05em;
        display: flex;
        align-items: center;
        color: $primary;
    }

    a {
        text-decoration: none;
    }

}