@import '../../styles/base/settings.scss';

.pageTitle {
    font-family: 'Siracha-Regular';
    font-style: normal;
    font-size: 28px;
    color: $primary;
    text-align: left;
    margin-left: 10%;

    div {
        width: 18rem;
        height: 0.25rem;
        border-radius: 10px;
        background-color: $secondary;
    }
}

.video {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info__row {
    display: flex;
    flex-direction: row;
}

.ingrediants {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    text-align: left;

    h3 {
        font-family: Ubuntu-Regular;
        font-size: 20px !important;
        text-align: left;
        color: $primary;
    }

    p {
        font-family: Ubuntu-Regular;
        font-size: 14px !important;
        text-align: left;
        color: $primary;
    }
}

.instructions {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    text-align: left;
    margin-top: 2em;

    h3 {
        font-family: Ubuntu-Regular;
        font-size: 20px !important;
        text-align: left;
        color: $primary;
    }

    h4 {
        font-family: Ubuntu-Regular;
        font-size: 18px !important;
        text-align: left;
        color: $primary;
    }

    p {
        font-family: Ubuntu-Regular;
        font-size: 14px !important;
        text-align: left;
        color: $primary;
    }
}