@import '../../styles/base/settings.scss';

.connect {
    button {
        padding: 16px 20px;
        border-radius: 5px;
        background-color: $secondary;
        color: $white;
        font-weight: normal;
        font-size: 24px;
        margin: 20px 20px;
        font-family: Ubuntu-Regular;
        outline: none;
        border: none;
        transition: all 220ms ease-in-out;
        cursor: pointer;

        &:hover {
            background-color: $black;
            border: none;
            color: $white;
        }
    }
}

.nopizza {
    p {
        font-size: 24px;
        font-family: Ubuntu-Regular;
    }
    img {
        height: 24em;
    }
}

.hodler {
    p {
        font-size: 24px;
        font-family: Ubuntu-Regular;
    }
    img {
        height: 24em;
    }
}